* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.login-page {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  form {
    display: flex;
    flex-direction: column;
    background: #cacaca;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #cacaca;
    label {
      font-weight: 500;
      color: rgb(90, 90, 90);
    }
    input {
      padding: 1rem;
      border: 1px solid #bbbbbb;
      border-radius: 10px;
    }
    button {
      padding: .5rem;
      border-radius: 10px;
      border: 1px solid #bbb;
      margin-top: 1rem;
      cursor: pointer;
    }
  }
}

.profile-page {
  width: 100%;
  font-weight: 500;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .profile-info {
    background: #cacaca;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #cacaca;
    color: rgb(90, 90, 90);
    width: auto;
    display: flex;
    flex-direction: column;
    button {
      padding: .5rem;
      border-radius: 6px;
      border: 1px solid #bbb;
      font-weight: 600;
      text-transform: uppercase;
      transition: all .2s ease;
      cursor: pointer;
      margin: 1rem auto 0 auto;
      &:hover {
        box-shadow: 0px 0px 5px 1px #bbbbbb;
        background: rgb(218, 218, 218);
        transition: all .2s ease;
      }
    }
  }
}